@model IEnumerable<Contact>
@{
    ViewData["Title"] = "Index";
}

<div class="productlist">
    <h2 class="">Messages</h2>
</div>
<div class="">

    @foreach (var obj in Model)
    {
        <div class="container1">
            <p class="teksti1">Message #@obj.Id</p>
            <a asp-controller="Contact" asp-action="ViewContact" asp-route-id="@obj.Id"
               class=""> <i class=""></i>View Message</a>
        </div>
    }
    <br /><br />
</div>