@{
    ViewData["Title"] = "Thank you!";
}
<h1>@ViewData["Title"]</h1>
<h4>We will check your message and respond to it accordingly with a mail, so please check your e-mail address for future info!</h4>
