@model Product

<form method="post">
    <div class="form-container">
        <div class="row pb-2">
            <h2 class="text-primary">Add a new product</h2>
            <hr />
        </div>
        <div class="title-label-container">
            <label class="title-label" asp-for="title">Title</label>
            <input asp-for="title" class="form-control required="required" />
            <span asp-validation-for="title" class="text-danger"></span>
        </div>
        <div class="option-dropdown">
            <label class="category-label" asp-for="category">Category</label>
            <select asp-for="category" id="category" name="category" class="form-control" required="required">
                <option value="na" selected="">Choose One:</option>
                <option value="Computer Parts">Computer Parts</option>
                <option value="Computer Systems">Computer Systems</option>
                <option value="Computer Accessories">Computer Accessories</option>
                <option value="Laptops and accessories">Laptops and accessories</option>
                <option value="Cables">Cables</option>
                <option value="Gaming chairs">Gaming chairs</option>
            </select>
            <span asp-validation-for="category" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="manufacturer">Manufacturer</label>
            <input asp-for="manufacturer" class="form-control required="required" />
            <span asp-validation-for="manufacturer" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="price">Price</label>
            <input asp-for="price" class="form-control required="required" />
            <span asp-validation-for="price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="salePrice">Sale price</label>
            <input asp-for="salePrice" class="form-control"/>
            <span asp-validation-for="salePrice" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Add</button>
        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to list
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
